.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #a89e91;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbarHidden {
    transform: translateY(-100%);
    opacity: 0;
}

.navbarContainer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1.7rem;
    font-weight: bold;
    color: #422701;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logoImage {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.hamburger:focus,
.hamburger:active {
    outline: none;
    box-shadow: none;
}

.hamburgerLine {
    width: 100%;
    height: 3px;
    background-color: #422701;
    margin: 3px 0;
    transition: background-color 0.2s ease;
}

.navLinks {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    text-decoration: none;
    background-color: #f8f8f8;
    z-index: 998;
    padding: 1rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.navLinks.open {
    display: flex;
    opacity: 1;
    max-height: 400px;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.navLink {
    padding: 0.8rem 1rem;
    text-align: center;
    width: 100%;
    color: #705e46;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    border-radius: 4px;
}

.navLink:hover {
    color: #ffffff;
    background-color: #705e46;
}

.navLink:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .navLinks {
        display: none;
    }

    .navbar {
        height: 60px;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navLinks {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        gap: 1rem;
        padding: 0;
        max-height: none;
    }

    .navLink {
        border-bottom: none;
    }
}